@import '../../styles/utils/variables';

.TableMaterials {
  background-color: $bg-grey;
  display: flex;
  flex-direction: column;
  gap: 0px;
  height: 100%; // MUST be set by parent context
  overflow: hidden; // prevent outer scrollbars

  .head {
    padding: 20px;
    flex-shrink: 0; 
    
    .title {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .body {
    padding: 20px;
    flex-grow: 1;
    overflow-y: auto;   // scroll if content overflows
    overflow-x: hidden;

    table {
      border-collapse: separate; // Important!
      border-spacing: 12px; // Space between cells
      margin: -12px;
      display: flex;
      flex-direction: column;
      gap: 0px;
      height: 100%; // MUST be set by parent context
      overflow: hidden; // prevent outer scrollbars

      th:nth-child(1),
      td:nth-child(1) {
        width: 100%;
      }

      th:nth-child(2),
      td:nth-child(2) {
        min-width: 110px;
        white-space: nowrap;
      }

      th,
      td {
        background-color: $bg-black;
      }

      thead {
        flex-shrink: 0; 
        overflow-y: auto; // 👈 always reserve space, even if not scrolling
        scrollbar-gutter: stable; // 👈 reserves space for scrollbar without showing it always

        tr {
          th {
            padding: 20px;
          }
        }
      }

      tbody {
        flex-grow: 1;       // fill remaining space
        overflow-y: auto; // 👈 always reserve space, even if not scrolling
        overflow-x: hidden;
        scrollbar-gutter: stable; // 👈 reserves space for scrollbar without showing it always

        tr {
          td {
            padding: 20px;
          }
        }
      }
    }
  }
}